@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  width: 100%;
}

.main-container {
  width: 780px;
  margin: 0 auto;
  padding: 2rem;
}

#main-page #header .header-content .sign-up, .modal .modal-content .submit-btn {
  padding: .6rem 1.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  background: #c402c4;
}

#main-page #header .header-content .sign-up:hover, .modal .modal-content .submit-btn:hover {
  opacity: 0.8;
}

#slider {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: #020280;
  height: 100vh;
  width: 200px;
  color: #fff;
  left: -200px;
  transition: all .5s ease;
}

#slider .img-container {
  width: 100px;
  height: 100px;
  align-self: center;
  margin: 2rem 0;
}

#slider .img-container img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

#slider h3 {
  padding: 1rem;
  border-bottom: 1px solid #80808085;
  cursor: pointer;
}

#slider h3:hover {
  opacity: 0.9;
}

#slider .home {
  border-top: 1px solid #80808085;
  margin-top: 1rem;
}

#main-page {
  position: absolute;
  width: 100%;
  left: 0;
  transition: all .5s ease;
}

#main-page #header {
  background: #02026d;
  color: #fff;
  padding: 2rem 0;
}

#main-page #header .hamburger {
  position: absolute;
  color: #fff;
  background: #000027;
  width: 40px;
  height: 40px;
  left: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
}

#main-page #header .hamburger:hover {
  opacity: 0.9;
}

#main-page #header .hamburger .top, #main-page #header .hamburger .mid, #main-page #header .hamburger .bot {
  background: #fff;
  height: 2px;
  width: 100%;
  margin: 2.5px 0;
}

#main-page #header .header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

#main-page #header .header-content h3 {
  margin: 1rem;
}

#main-page #header .header-content .sign-up:hover {
  opacity: 0.9;
}

#main-page .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main-page .main h3, #main-page .main p, #main-page .main ul {
  margin: .5rem 0;
}

#main-page .main ul li {
  margin-left: 3rem;
}

.modal {
  position: absolute;
  background: rgba(18, 18, 18, 0.5);
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .3s;
  visibility: hidden;
  opacity: 0;
}

.modal .modal-content {
  width: 400px;
  border-radius: 5px;
  background: #fff;
  transition: all 1s;
  visibility: hidden;
  opacity: 0;
}

.modal .modal-content .modal-title {
  background: #02026d;
  padding: 1rem;
  color: #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.modal .modal-content .modal-title .close {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 .5rem;
  cursor: pointer;
}

.modal .modal-content .modal-title .close .first {
  position: absolute;
  height: 4px;
  width: 20px;
  background: #fff;
  transform: rotate(-45deg);
}

.modal .modal-content .modal-title .close .second {
  position: absolute;
  height: 4px;
  width: 20px;
  background: #fff;
  transform: rotate(45deg);
}

.modal .modal-content h4 {
  padding: 1rem;
}

.modal .modal-content .form {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.modal .modal-content .form input {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.modal .modal-content .submit-btn {
  margin-bottom: 1rem;
  margin-left: 1rem;
}
/*# sourceMappingURL=style.css.map */